# Git learning: ignore the local configration file
#这是一条ignore rule
#这条（Ignore Rule）让已经停止跟踪的配置文件git rm --cached -- local_config_learning.ini：
#默认不再出现在 Untracked files 中。
#不被普通的 git add . 等批量暂存操作加入。

/local_config_learning.ini

#：这里是 .gitignore 的注释符号。
# /local_config_learning.ini：匹配此根目录下的实验文件。
# 保存了就立刻生效
